body.home{
    background-image: url(Assets/paddy-o-sullivan-rsmlgiahfoU-unsplash.jpg);
    background-size: cover;
}
body.blog{
    background-image: url(Assets/paddy-o-sullivan-xjfDAqpbb9Q-unsplash.jpg);
    background-size: cover;
}
body.ClimateNews{
background-image: url(Assets/markus-spiske-sOnwmZshvME-unsplash.jpg);
background-size: cover;
}

body.about{
    background-color: white;
}

nav, h3, p, img, h1, h2{ 
    text-align: center;
    color: white;
}
h1{
    font-family: "Staatliches", cursive;
    color: white;
}
nav{
    font-size: larger;
}
img row {
        display: flex;
        align-items: center;
        }

h3, footer{
    font-family: 'Zilla Slab', serif;
    color: rgb(25, 151, 209);
}
footer {
    text-align:right;
}
.article{
margin: 20px;
background:rgb(173, 209, 226);
line-height: 18px;
height: fit-content;
font-size: 18px;
padding: 30px 20px 30px 20px;
border-radius: 30px;
border-bottom: cornflowerblue;
}
a{
    color: white;
    font-family: "Staatliches", cursive;
}